<nav id="nav">
    <ul class="links">
        <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            <a href="{% url 'home' %}">This is Massively</a></li>
        <li class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">
            <a href="{% url 'about' %}">Generic Page</a></li>
        <li class="{% if request.resolver_match.url_name == 'elements' %}active{% endif %}">
            <a href="{% url 'elements' %}">Elements Reference</a></li>
    </ul>
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    </ul>
</nav>