<div class="rail rail--left">
    <ul class="rail__socials">
        <li><a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#" aria-label="GitHub"><i class="fab fa-github"></i></a></li>
    </ul>
</div>

<div class="rail rail--right">
    <div class="scroll-progress">
        <div class="scroll-progress__bar" data-scroll-progress></div>
    </div>
</div>
